.thuthuatdieutri .modal-content {
    width: 1500px;
    margin-left: -500px;
    /* padding: 0 50px 0 50px; */
     
}
.thuthuatdieutri .modal-dialog  {
    width: 2000px;
}

.thuthuatdieutri .nhomthuthuat {
    width: 50%;
    float: left;
    padding: 5px;
    /* height:300px; */
}

.thuthuatdieutri .nhomthuthuat table th {
    background-color: #a2b9bc;
    color: white;
}

.thuthuatdieutri .thuthuatduocchon table th {
    background-color: #a2b9bc;
    color: white;
}

.thuthuatdieutri .modal-body {
    display: inline-block;
}

.thuthuatdieutri th {
    text-align: center;
}

.thuthuatdieutri .thuthuatbutton {
    margin-right: 5px;
}

.thuthuatdieutri .refreshbutton {
    float: right;
}

.thuthuatdieutri .table-wrapper {
    max-height: 300px;
    overflow: auto;
    /* display: inline-block; */
}

.thuthuatdieutri .card {
    position: absolute;
    background-color: #383838;
    /* border-radius: 5px;  */
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

.donthuoc .table-wrapper {
    height: 600px;
    overflow: auto;
}
.donthuoc .refreshbutton {
    float: right;
}
.donthuoc .thuthuatbutton {
    margin-right: 5px;
}

.donthuocchobenhnhan .danhmucthuoc table th {
    background-color: #a2b9bc;
    color: white;
}

.donthuocchobenhnhan .donthuocduocchon table th {
    background-color: #a2b9bc;
    color: white;
}

.donthuocchobenhnhan .modal-content {
    width: 1500px;
    margin-left: -500px;
}

.donthuocchobenhnhan .donthuocduocchon {
    width: 70%;
    float: right;
    padding: 5px;
}
.donthuocchobenhnhan .danhmucthuoc {
    width: 28%;
    float: left;
    padding: 5px;
}

.donthuocchobenhnhan .ngaykevanguoike {
    display: flex;
    align-items: center;
    gap: 305px;
}

.Notification .content {
    height: 200px;
    overflow-y: scroll;
}

.Notification .dropdown-header .h4{
    z-index: 1;
    position: fixed;
    padding-bottom: 10px;
}

.Notification .dropdown-header {
    display: flex;
    align-items: center;
    gap: 110px;
}

.AppointmentNoti .dropdown-header {
    display: flex;
    align-items: center;
    gap: 280px;
}

.AppointmentNoti .content {
    height: 200px;
    overflow-y: scroll;
}

.appointmentlist .lich {
    width: 50%;
    float: left;
    padding: 5px;
}