.thuthuatdieutri .modal-content {
    width: 1500px;
    margin-left: -500px;
    /* padding: 0 50px 0 50px; */
     
}
.thuthuatdieutri .modal-dialog  {
    width: 2000px;
}

.thuthuatdieutri .nhomthuthuat {
    width: 50%;
    float: left;
    padding: 5px;
    /* height:300px; */
}


.thuthuatdieutri .modal-body {
    display: inline-block;
}

.thuthuatdieutri th {
    text-align: center;
}

.thuthuatdieutri .thuthuatbutton {
    margin-right: 5px;
}

.thuthuatdieutri .refreshbutton {
    float: right;
}

.thuthuatdieutri .table-wrapper {
    max-height: 300px;
    overflow: auto;
    /* display: inline-block; */
}

.thuthuatdieutri .card {
    position: absolute;
    background-color: #383838;
    /* border-radius: 5px;  */
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

/* .thuthuatdieutri .card ul li:hover  {
    cursor: pointer;
    background-color: aqua;
} */