.addmodal .modal-header {
    background-color: darkseagreen;
    text-align: center;
    color: white;

}

.form-footer {
  margin-right: 430px;
  /* left: 205px; */
}

.btn .btn-danger {
  margin-left:200px;
}



.form-group-1  {
    margin-left: 20px;
    width: 208px;
} 
.form-group-3 {
    width: 260px;
}
.form-group-3 .form-control {
    width: 230px
}
.form-group-4 {
    width: 100px;
}
.form-group-4 .form-control {
    width: 80px;
}
.form-group-5 .form-control {
  width: 790px;
}
.form-check {
    display: inline-block;
    margin: 0 10px 0 10px;
    padding: 10px;
    width: 130px;
}
.form-check-payment {
  width: 200px;
}

.modal-content {
    width:900px;
    margin-left: -200px;
}
.form-group-2 {
    width: 400px;
}

.form-group-2 .form-control {
    width: 390px;
}

  .addmodal .modal-title {
    font-size: 24px;
  }
  
  /* Tùy chỉnh modal body */
  .addmodal .modal-body {
    padding: 2rem;
  }

  .addmodal .modal-footer {
    border-top: 0;
    border-radius: 0 0 10px 10px;
    padding: 1rem;
  }
  
  /* Tùy chỉnh buttons trong modal footer */
  .addmodal .btn {
    margin: 0.25rem;
  }

  .Notification .dropdown-toggle::after {
    display: none;
  }

  .AppointmentNoti .dropdown-toggle::after {
    display: none;
  }
