.PatientInfo {
    margin-top: 10px;
}

.PatientInfo .d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -15px;
}

.PatientInfo .d-flex .NotiList {
  display: flex;
}

.PatientInfo .funcbutton {
  margin-right: 5px;
  margin-bottom: 5px;
}

.PatientInfo table th {
  background-color: #a2b9bc;
  color: white;
}


.search-form {
  padding-left: 30px;
}

.clickbutton {
  margin-left: 30px;
  margin-top:20px;
  background-color: aquamarine;
  border-style: none;
  color: #111;
}

.thong-tin-benh-nhan {
  background-color:#b1cdd0;
  padding-bottom: 10px;
  width: 100%;
  /* color: white; */
}

.Treatment {
  margin-top: 10px;
}

.Treatment .d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Treatment .btn.backtomainpage {
  display: flex;
  align-items: center;
}

.Treatment .d-flex .NotiList {
  display: flex;
}
.Treatment .d-flex .congcu {
  display: flex;
}

.Treatment .btnmenu-2 {
  margin-top: 2px;
  margin-right: 5px;
}

.Treatment .btnmenu-1:hover {
  background-color: white;
}


.Treatment .btnmenu-2:hover {
  background-color: antiquewhite;
}

.Treatment .refreshbutton:hover {
  background-color: antiquewhite;
}


.tien-su-benh {
  background-color:bisque;
  border-style: groove;
}

.Treatment .button {
  margin-right: 10px;
  width: 130px;
  margin-bottom: 5px;
}

.Treatment .form-control{
  border: 0px solid;
  border-bottom-width: 1px;
  background-color: transparent;
}

.Treatment .form-label {
  font-weight: bold ;
}

.Sidebar .nav-item:hover {
  background-color: antiquewhite;
}

.Treatment .header {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: -10px;
  justify-content: space-between;
}

.Treatment .chi-tiet-kham-benh .header .header1 {
  display: flex;
  position: relative;
  align-items:center;
  gap:5px;
  margin-top: -10px;
  /* justify-content: space-between; */
}

.Treatment .detailmedicine {
  margin-top: -5px;
  margin-bottom: 5px;
}

.Treatment .tablengaykham .table-wrapper {
  /* overflow: auto;
  display: inline-block; */
  width: 150px;
  table-layout: fixed;
}

/* .Treatment .tablengaykham .table-wrapper table {
  table-layout: fixed;
  width: 150px;
}

.Treatment .tablengaykham .table-wrapper .tbody-wrapper {
  height: 180px;
  overflow-y: auto;
} */

.Treatment .tablengaykham .table-wrapper-2 {
  /* overflow: auto;
  display: inline-block; */
  table-layout: fixed;
}

/* .Treatment .tablengaykham .table-wrapper-2 table {
  table-layout: fixed;
}

.Treatment .tablengaykham .table-wrapper-2 .tbody-wrapper {
  height: 180px;
  overflow: auto;
} */

.Treatment .tablengaykham {
  justify-content: space-between;
  display: flex;
}

.Treatment .table-wrapper-2 .rang {
  width: 100px;
}

.Treatment .table-wrapper-2 .tenthuthuat {
  width: 200px;
}

.Treatment .table-wrapper-2 .noidungthuthuat {
  width: 200px;
}

.Treatment .table-wrapper-2 .soluong {
  width: 100px;
}

.Treatment .table-wrapper-2 .dongia {
  width: 150px;
}

.Treatment .table-wrapper-2 .thanhtien {
  width: 150px;
}

.Treatment .table-wrapper-2 .percent {
  width: 100px;
}

.Treatment .table-wrapper-2 .giamgia {
  width: 100px;
}

.Treatment .table-wrapper-2 .lydogiam {
  width: 100px;
}

.Treatment .footertest {
  flex-direction: column;
  bottom: 0;
  /* text-align: center; */
  position: fixed;
  height:100px;
  width: 100%;
  background-color: rgb(246, 248, 209);
}

.Treatment .tablengaykham table th {
  background-color: #a2b9bc;
}


