/* .Sidebar {
    height: 100%;
    /* width: 250px; 
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    /* background-color: #111; 
    overflow-x: hidden;
    padding-top: 20px;
    
  } */

.PatientInfo {
    margin-top: 20px;
}
/* 
.PatientInfo .container-fluid {
  display: flex;
  /* justify-content: space-around; 
} */


.PatientInfo .btnmenu {
  position: absolute;
}

/* .PatientInfo .clickbutton */



.search-form {
  padding-left: 30px;
  /* margin-left: 60px; */
}

.clickbutton {
  
  margin-left: 30px;
  margin-top:20px;
  background-color: aquamarine;
  border-style: none;
  color: #111;
  
}

.form-control {
  width: 140px;
}

.thong-tin-benh-nhan {
  background-color:beige;
  border-style: groove;
  padding-bottom: 12px;
}

.Treatment {
  margin-top: 10px;
}

.Treatment .btnmenu {
  position: absolute;
}

.Treatment .gioitinh .form-control {
  width: 100px;
}

.Treatment .sohoso {
  margin-right: 10px;
}

.Treatment .lydokham {
  margin-left: 30px;
}

.Treatment .diachi .form-control {
  width: 400px
}

.tien-su-benh {
  background-color:bisque;
  border-style: groove;
}

.Treatment .button {
  margin-right: 10px;
  width: 130px;
  margin-bottom: 5px;
}

.Treatment .chandoan .form-control{
  width: 400px;
}

.Treatment .ngaykham {
  width: 13%;
  float: left;
  padding: 5px;
}

.Treatment .thongtinkhac {
  width: 86%;
  float: right;
}

.Sidebar .nav-item:hover {
  background-color: antiquewhite;
}